<section class="container wrapper section-dashboard">

	{{!-- User Profile  --}}
	<div class="row user-panel">
		
		{{!-- Profile Card --}}
		<div class="col-xl-3 col-lg-3 col-md-3 text-center">
			
			<img id='user-image' data-value="{{this.id}}" src="/assets/images/profile/{{ this.profilepicture}}" class="img-fluid rounded profile-picture" alt="profile picture for {{ firstname }} {{users.lastname}}">

			<h4>
				{{!-- User: First Name --}}
				<span id="user-firstname" class="edit">{{ this.firstname }}</span> 
				<textarea id="user-firstname-edit" class="update-task form-control update">{{this.firstname}}</textarea>
				
				{{!-- User: Last Name --}}
				<span id="user-lastname" class="edit">{{ this.lastname }}</span>
				<textarea id="user-lastname-edit" class="update-task form-control update">{{user.lastname}}</textarea>
			</h4>

			<hr class="hr-full">
			
			{{!-- User: Bio --}}
			<h6 id="user-bio" class="edit"> {{ this.bio }} </h6>
			<textarea id="user-bio-edit" class="update-task form-control update">{{this.bio}}</textarea>
			<hr class="hr-half">

			{{!-- User: Email --}}
			<p>
				<i class="fas fa-envelope"></i>
				<strong id="user-email" class="edit"> {{ this.email }} </strong>
				<textarea id="user-email-edit" class="update-task form-control update">{{this.email}}</textarea>
			</p>
			
			{{!-- Update Btn --}}
			<button class="btn btn-sm bg-junglegreen text-white" id="btn-profile-update" record-id="{{ id }}">
				<i class="fas fa-pencil-alt"></i>
			</button>

		</div>
		
		{{!-- Message Feed --}}
		<div class="col-xl-9 col-lg-9 col-md-9">
			
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="home" aria-selected="true">Posts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="profile" aria-selected="false">Followers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#following" role="tab" aria-controls="contact" aria-selected="false">Following</a>
				</li>
			</ul><br>

			{{!-- Message Form  --}}
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="home-tab">
					
					<hr class="hr-full">
						
						{{!-- Doesn't work --}}
						{{#each messages}}

							<div class="media">
								<img class="rounded mr-3 post-picture" src="/assets/images/profile/{{ profileImage }}" alt="Generic placeholder image">
								<div class="media-body">
									<h5 class="mt-0">{{ firstname }}</h5>
									{{#if image}}
										<a href="assets/images/post/{{ image }}" target="_blank"><img src="assets/images/post/{{ image }}" alt="" class="img-fluid user-picture"></a><br>
									{{/if}}
									<textarea name="update-task" id="update-message-{{ id }}" class="update-task form-control"></textarea>

									<span id="message-{{ id }}">{{ message }}</span><br>
									<small>
										<span id="postedTime"> {{ formatDate createdAt 'MMMM Do YYYY, h:mm:ss a' }} </span>
									</small><br>

								</div>
							</div><br>
							<hr>
						{{/each}}
				
				</div>{{!-- post tab --}}
				<div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="profile-tab">
					All followers goes here
				</div>{{!-- followers tab --}}
				<div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="contact-tab">
					All following goes here
				</div>{{!-- following tab --}}
			</div>{{!-- tab content --}}
		</div>{{!-- Profile Content Column --}}
	</div>{{!-- row --}}
	
	{{!-- Modal for searched users --}}
	<div class="modal fade" id="matchuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="row" id="insertdata">
                        
                    </div> 
            </div>
        </div>
    </div>

</section>

