<section class="container wrapper section-sign-up">
    
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 offset-xl-3 offset-lg-3 offset-0">
            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger">
                        {{msg}}
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
	
	{{!-- Profile Card --}}
    <div class="row">
		<div class="col-xl-3 col-lg-3 col-md-3 text-center">
			<img src="assets/images/profile/{{ user.profilepicture}}" class="img-fluid rounded profile-picture" alt=" {{ user.firstname }} {{user.lastname}} profile picture">
			<h4 id="full-name">{{ user.firstname }} {{ user.lastname }}</h4>
			<hr class="hr-full">
			<h6> {{ user.bio }} </h6>
			<hr class="hr-half">

			<p><strong><i class="fas fa-envelope"></i> {{ user.email }} </strong></p>
		</div>
    </div>

	{{!-- Profile Form --}}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 offset-xl-3 offset-lg-3 offset-0">
            
            <div class="card card-sign-up">
                <div class="card-body">
                    <h4 class="card-title">Update Profile</h4>
                    <hr class="hr-full">
                    <form action='/update' method='POST' class="form-sign-up" enctype="multipart/form-data">

						{{!-- Input: First Name --}}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-junglegreen" id="basic-addon1">
                                        <i class="fas fa-user-circle text-white"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="firstname" name="firstname" value="{{user.firstname}}">
                            </div>
                        </div>

						{{!-- Input: Last Name --}}
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="lastname" name="lastname" value="{{user.lastname}}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-junglegreen" id="basic-addon1">
                                        <i class="fas fa-user-circle text-white"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

						{{!-- Input: Email Address --}}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-junglegreen" id="basic-addon1">
                                        <i class="fas fa-at text-white"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
                            </div>
                        </div>

						{{!-- Input:  Password --}}
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="New Password (optional)">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-junglegreen" id="basic-addon1">
                                        <i class="fas fa-key text-white"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

						{{!-- Input:  Confirm Password --}}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-junglegreen" id="basic-addon1">
                                        <i class="fas fa-key text-white"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="New Password (optional)">
                            </div>
                        </div>

						{{!-- Input:  Bio --}}
                        <div class="form-group">
                            <div class="input-group">
                                <textarea class="form-control" id="bio" name="bio" rows="3">{{user.bio}}</textarea>
                            </div>
                        </div>

						{{!-- Select:  Profile Image--}}
                        <div class="form-group">
                            <label for="profilepic"><i class="fas fa-image"></i> Profile Picture</label>
                            <input type="file" class="form-control-file" id="profilepic" name="profilepic" aria-describedby="fileHelp">
                            <small id="fileHelp" class="form-text text-muted">File should be less than 3 mb</small>
                            <img src="assets/images/profile/{{ user.profilepicture}}" class="img-fluid rounded profile-picture" alt=" {{ user.firstname }} {{user.lastname}} profile picture">
                        </div>
						
						{{!-- Input:  Password --}}
                        <div class="form-group text-right">
                            <button type='submit' class="btn bg-junglegreen btn-signin text-white">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Submit
                            </button><br>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

